{% extends 'base.html' %}

{% block title %}
Про мене
{% endblock %}

{% block body %}
<div class="pictures">
    <img src="img\1.JPG" width="428px" height="572px">
</div>
<div class="container">
    <h1 class="fs-1 text-muted default_cursor_cs">Про мене</h1>
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark default_cursor_cs">
    <div class="col-md-6 px-0 default_cursor_cs">
      <h1 class="display-4 fst-italic default_cursor_cs">Учень GoITeens</h1>
      <p class="lead my-3 default_cursor_cs">Я вчусь на курсі Python у дуже класній групі PY_1y_2</p>
    </div>
  </div>
</div>
{% endblock %}